
div{
  width: 50%;
}
input[type=password], [type=text], [type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.label {
  margin:14px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}
  .label2 {
 
  max-width: 400px;
  
  font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: red;
  font-weight: bold;
}
